# OpenStack Credentials File Template
# Copy this file to credentials.txt and fill in your actual credentials
# IMPORTANT: Set file permissions to 600 (chmod 600 credentials.txt)
# DO NOT commit credentials.txt to version control!

OS_AUTH_TYPE=v3applicationcredential
OS_AUTH_URL=https://keystone.demo.com/v3
OS_IDENTITY_API_VERSION=3
OS_REGION_NAME=crx
OS_INTERFACE=public
OS_APPLICATION_CREDENTIAL_ID=33333333333333333333333333333333
OS_APPLICATION_CREDENTIAL_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
